
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contato</title>
    <link href="../css/geral.css" rel="stylesheet">
    <script src="../js/pagina.js"></script>
  </head>
  <div id="topoc"></div>
  <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="collapse navbar-collapse" id="navbarCollapse"><a href="../index.html"><img src="../image/Log.png" id="logo"></a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="história.html">Sobre-nós</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="estrutura.html">Estrutura</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="orçamento.html">Orçamento</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../image/Log.png" alt="" width="150" height="100">
    <h2>Formulário de contato</h2>
    <p class="lead">Preencha e iremos entrar em contato em no maximo 30 minutos.</p>
  </div>
  <div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Complete</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nome</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Sobrenome</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          </div>
        </div>
        <div class="mb-3">
          <label for="username">Nome da empresa</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Nome da empresa" required>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="ddddd@ddddd.com.br">
        </div>
        <div class="mb-3">Telefone</label>
            <input type="text" class="form-control" id="address" placeholder="(11)92222-2222" required>
          </div>
        <div class="mb-3">CEP</label>
          <input type="text" class="form-control" id="address" placeholder="00000-000" required>
        </div>
        <div class="mb-3">
          <label for="address2">Rua</label>
          <input type="text" class="form-control" id="address2" placeholder="Rua dddddd">
        </div>
        <div class="mb-3">
            <label for="address2">Observação</label>
            <input type="text" class="form-control" id="address2" placeholder="Ponto de referência">
          </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Pais</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">...</option>
              <option>Brasil</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">Estado</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">...</option>
              <option>São Paulo</option>
              <option>Minas Gerais</option>
              <option>Bahia</option>
              <option>Rio de Janeiro</option>
              <option>Santa Catarina</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Região</label>
            <select class="custom-select d-block w-100" id="state" required>
                <option value="">...</option>
                <option>Capital</option>
                <option>Interior</option>
            </select>
          </div>
        </div>
    </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Obrigado! Em breve entraremos em contato</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; Trans_Dal agradece o seu contato</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="../index.html">Início</a></li>
      <li class="list-inline-item"><a href="#topoc">Topo</a></li>
    </ul>
  </footer>
</div>
  </body>
</html>
