<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>História</title>
    <link href="../css/geral.css" rel="stylesheet">
    <script src="../js/pagina.js"></script>
</head>
<body>
    <div id="topoh"></div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="collapse navbar-collapse" id="navbarCollapse"><a href="../index.html"><img src="../image/Log.png" id="logo"></a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="história.html">Sobre-nós</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="estrutura.html">Estrutura</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contato.html">Contato</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="orçamento.html">Orçamento</a>
            </li>
          </ul>
        </div>
      </nav>
      <main><br>
        <h1 class="visually-hidden">&nbsp;Sobre-nós</h1>
      
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="../image/Log.png" alt="" width="150" height="100">
          <h1 class="display-5 fw-bold">Início</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Surgida em 1º de abril de 2020. Inicialmente para o transporte de cargas fracionadas, mudanças e como agregada a outras empresas do ramo. A partir de 2021 a Trans_Dal descobre o seu próprio caminho, realizando o transporte e distribuição de cargas para grandes indústrias, tornando-se aos poucos uma das maiores empresas de distribuição de cargas.</p>
                <p class="lead mb-4">Foi inaugurada sua nova sede na Bahia, um moderno terminal de cargas, dotando a empresa de excelentes condições de logística e administração.</p><p class="lead mb-4">O desejo de crescer e ampliar horizontes faz da Trans_Dal uma empresa em constante evolução, ampliando seus serviços e sua área de atendimento, automatizando sua operação e investindo sempre na melhoria da QUALIDADE tendo por objetivo a SATISFAÇÃO TOTAL de seus clientes e colaboradores.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="contato.html"><button type="button"  class="btn btn-primary btn-lg px-4 gap-3">
                Contate-nos&raquo;</button></a>
            </div>
          </div>
        </div>     
        <div class="b-example-divider"></div>
        <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h1 class="display-4 fw-bold">Missão, Visão, Política e Qualidade</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                <p class="lead mb-4"><strong>Missão:</strong> Transportar quantidade com qualidade, atendendo os clientes de forma personalizada e qualificada, com segurança, agilidade e rapidez, praticando preços competitivos, conquistando a cada dia novos mercados; proporcionando melhores preços e qualidade de vida ao nosso público.</p>
                <p class="lead mb-4"><strong>Visão:</strong> Almejamos a Trans_Dal, líder no mercado nacional de cargas; Modelo Social e Empresarial.</p>
                <p class="lead mb-4"><strong>Política:</strong> A Trans_Dal fornece serviços de transporte e logística, possui a Qualidade, a Preservação ao Meio Ambiente, a Saúde e Segurança de seus processos e de seus colaboradores como compromisso presente em todas as suas ações.</p>
                <p class="lead mb-4"><strong>Qualidade:</strong> Na Trans_Dal Transportes & Logística, QUALIDADE não é apenas um objetivo, mas um meio para obter o que, para nós, é mais importante: a SATISFAÇÃO TOTAL do nosso cliente.</p>            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a href="contato.html"><button type="button"  class="btn btn-primary btn-lg px-4 gap-3">
                        Contate-nos&raquo;</button></a>            
                    </div>
          </div>      
        <div class="b-example-divider"></div>    
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Serviços</h1>
              <p class="lead">
                  <al class="lead">
                    <li>Transporte e Distribuição de Cargas Fracionadas em Geral;</li>
                    <li>Transportes e Distribuição de Cargas Completas;</li>
                    <li>Transportes e Distribuição de Alimentos;</li>
                    <li>Transportes e Distribuição Especial de Cargas Perecíveis;</li>
                    <li>Transportes e Distribuição Produtos Químicos;</li>
                    <li>Transportes de Cargas Expressas;</li>
                    <li>Paletização;</li>
                    <li>Entregas agendadas em Grandes Redes;</li>
                    <li>Armazém Geral;</li>
                    <li>Operador Logístico;</li>
                    <li>Transporte e Distribuição de Ferros, Chapas, Tubos, Perfis e Máquinas;</li>
                    <li>E-Commerce.</li>
                </ul><br>
                <a href="contato.html"><button type="button"  class="btn btn-primary btn-lg px-4 gap-3">
                Contate-nos&raquo;</button></a>          
                </div>
        </div>     
        <div class="b-example-divider"></div>
        <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h1 class="display-4 fw-bold">Perfil Empresarial</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                <p class="lead mb-4">Temos a grata satisfação de apresentar o perfil de nossa empresa, mostrando uma estrutura em constante evolução, que nos permite ir ao encontro das necessidades de distribuição e logística de diferentes tipos de empresa.</p>
                <p class="lead mb-4">Atuando no mercado nacional, a Trans_Dal Transportes & Logística colocado à vossa disposição uma empresa sólida e moderna, com uma estrutura ágil e dinâmica, pronta para atender as mais diferentes necessidades de sua empresa.</p>
                <p class="lead mb-4">Com uma filosofia de trabalho voltada para a TRANQÜILIDADE de seus clientes, a Trans_Dal Transportes & Logística orgulha-se de prestar serviços há muitos anos para algumas das maiores indústrias do País.</p>
                <a href="contato.html"><button type="button"  class="btn btn-primary btn-lg px-4 gap-3">
                    Contate-nos&raquo;</button></a>            
                </div>
          </div>          
          <div class="container my-5">
          <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
              <h1 class="display-4 fw-bold lh-1">Administração</h1><br>
              <p class="lead"><strong>DANIEL SARAIVA</strong></p>
              <p class="lead">Diretor</p>
              <p class="lead"><strong>CAIO RODRIGUES</strong></p>
              <p class="lead">Gerente Administrativa</p>
              <p class="lead"><strong>SAMUEL OLIVEIRA</strong></p>
              <p class="lead">Gerente Financeira</p>
              <p class="lead"><strong>EDUARDO CAMPOS</strong></p>
              <p class="lead">Gerente RH/Contábil</p>
              <p class="lead"><strong>EDINHO CRUZ</strong></p>
              <p class="lead">Gerente de Frota</p>
              <p class="lead"><strong>TADEU OLIVEIRA</strong></p>
              <p class="lead">Supervisor de Armazém</p>
              <p class="lead"><strong>MARIA EDUARDA</strong></p>
              <p class="lead">Supervisora de Sinistro/Franquias</p>
              <p class="lead"><strong>ALANA SOAREZ</strong></p>
              <p class="lead">Assistente Comercial</p>
              <p class="lead"><strong>PAMELA ATOA</strong></p>
              <p class="lead">Assistente Comercial</p>
              <p class="lead"><strong>ANA PAULA</strong></p>
              <p class="lead">Supervisora de Contas a Pagar</p>
              <p class="lead"><strong>MATEUS BRAIAN</strong></p>
              <p class="lead">Supervisor de Contas a Receber</p>
              <a href="contato.html"><button type="button"  class="btn btn-primary btn-lg px-4 gap-3">
                Contate-nos&raquo;</button></a>            
            </div>            
          </div>
        </div>
      </main><br>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Trans_Dal agradece a sua visita</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="../index.html">Início</a></li>
          <li class="list-inline-item"><a href="#topoh">Topo</a></li>
        </ul>
      </footer>
</body>
</html>